body {
    background-color: #1a9b4f;
    font-family: Arial, sans-serif;
    margin: 20px; /* Añadir margen a todos los lados de la página */
    padding: 10px; /* Añadir relleno dentro del margen */
    border: 5px solid #0e6e38; /* Agregar un borde blanco */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Agregar una sombra para destacar */
    box-sizing: border-box; /* Incluir el margen y el borde en el ancho total */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}

.main-image {
    margin-bottom: 30px;
    margin-top: 20px; /* Agregar un margen superior */
}


.image-container img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, 0.8)
    );
}

.game-container {
    justify-content: space-around;
}

.game-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px; /* Ajustar el ancho de cada elemento del juego */
}

.game-item img {
    max-width: 100px;
    margin-bottom: 10px;
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, 0.8)
    );
}

.boton-juego {
    margin: 10px;
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease; /* Cambiado de background-color a background */
    box-shadow: 0 0 0 2px #020001;
    text-align: center;
    width: 200px; /* Ancho fijo para todos los botones */
    background: linear-gradient(135deg, #ff69b4, #366fff); /* Degradado entre rosa y azul */
}

.boton-juego:hover {
    background-color: #366fff;
}
