body {
    margin: 0;
    background: #1a9b4f;
    display: flex;
    align-items: center;
    height: 100vh;
}

.image-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    filter: drop-shadow(
        0 0 3px rgba(0, 0, 0, 0.8)
    );
}

.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}
.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}
.left {
    float: left;
}
.right {
    float: left;
}
.celeste {
    background: #22a6b3;
}
.celeste.light {
    background: #7ed6df;
}
.violeta {
    background: #be2edd;
}
.violeta.light {
    background: #e056fd;
}
.naranja {
    background: #f0932b;
}
.naranja.light {
    background: #ffbe76;
}
.verde {
    background: #6ab04c;
}
.verde.light {
    background: #badc58;
}
.btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
}
.hide {
    display: none;
}
.regresar-button {
    position: fixed; /* Posición fija para mantener el botón en la ventana del navegador */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
    display: block;
    width: 100px; /* Ancho más pequeño */
    padding: 8px 16px; /* Menos relleno */
    color: #fff;
    text-decoration: none;
    font-size: 1em; /* Tamaño de fuente ligeramente más pequeño */
    border: 2px solid #000; /* Añadir un borde negro */
    cursor: pointer;
    transition: background 0.3s ease; /* Transición del fondo */
    background: linear-gradient(135deg, #ff69b4, #366fff); /* Degradado entre rosa y azul */
}

.regresar-button:hover {
    background-color: #ff1493; /* Cambiar el color de fondo al pasar el ratón */
}